* {
  margin:0;
  padding:0;
}


.slider {
  display: block;
  position: relative;
  
  height: 293px;
  width: 600px;

  margin: auto;
  margin-top: 20px;
}

.slider li {
  position: absolute;

  list-style: none;
}

.slider img {
  margin: auto;

  height: 350px;
  width: 100%;

  vertical-align: top;
}

.slider input {
  display: none;
}

.slider label {
  display: block;
  position: absolute;

  background-color: gray;
  cursor: pointer;
  
  bottom: 10px;
  
  height: 10px;
  width: 10px;
  z-index: 10;
  opacity: 0.5;
    
 }

 .slider li:nth-child(1) label {
   left: 10px;
  }

  .slider li:nth-child(2) label {
    left: 40px;
   }

   .slider li:nth-child(3) label {
    left: 70px;
   }


.slider img {
  opacity: 0;
  visibility: hidden;
}

.slider li input:checked ~ img {
  opacity: 1;
  visibility: visible;
  z-index: 10;
  
}
